* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    color: #333;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    width: 1800px;
}

.sidebar {
    width: 50%;
    padding-top: 30px;
}

/*nav START*/
.sidebar nav {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 75%;
}

.sidebar nav a {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in;
}

.sidebar nav a.active {
    font-weight: bold;
}

.sidebar nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.2s ease-in-out;
}

.sidebar nav a.active::after {
    width: 100%;
}

#about-link:hover{
    color: #006400;
}

#experience-link:hover{
    color: #d8531f;
}

#projects-link:hover{
    color: #7538ad;
}

#contacts-link:hover{
    color: #0b3fce;
}
/*nav END*/

.content-section {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
}

.content-section.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    position: relative;
}

.in-content {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

/*About Me START*/
#about h3{
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
}

.in-content div {
    margin: 20px 0px 20px 0px;
}

.in-content div h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;    
}
/*About Me END*/

/*Experience section START*/

#intro-experience{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
    padding-top: 10px;
}

#experience h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;
    
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
}

#experience h4{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 20px;
}

.list{
    margin-top: 20px;
    padding-left: 20px;
}

.list li{
    margin-top: 10px;
}

.list-title{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 22px;
}

#company-name{
    font-family: "Inter", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 18px;
}

.description-list-element{
    font-family: "Inter", sans-serif;
    font-size: 16px;
}



/*Experience section END*/

/*Projects section START*/
.projects-list {
    display: flex;
    flex-direction: column;
}

.project {
    background-color: #514F4F;
    border-radius: 25px;
    color: white;
    margin: 20px 0px 20px 0px;
    text-decoration: none;
}

.in-content h4 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 48px;
}

.in-content p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top: 10px;
}
/*Projects section END*/

/*Contact section START*/

#contacts h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;

    border-radius: 10px;
    display: inline-block;
    padding: 5px;
}

.content-section p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top: 10px;
}

.content-section ul{
    margin-top: 10px;
    padding-left: 20px;
    font-size: 20px;
}

.content-section ul li a{
    color: #0b3fce;
    font-size: 20px;
}
/*Contact section END*/

/*right section START*/


.right-panel {
    right: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d3d3d3;
}

.profile-pic {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-pic img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info h2 {
    font-size: 52px;
    font-weight: bold;
}
/*right section END*/
